.Sprintergories-responseTable {
  border-collapse: separate;
  border-spacing: 0 20px;
  width: 100%;
}

.Sprintergories-categoryLabel {
  padding-right: 20px;
  white-space: nowrap;
}

.Sprintergories-responseCell {
  width: 99%;
}

.Sprintergories-responseInput {
  width: 100%;
}
.Sprintergories-responseInput--rejected {
  text-decoration: line-through;
}
