.App {
  background-color: #202040;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;

  --white-20: #ffffff33;
  --accent-text: #ffbd69;
}

.App-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 16px;
  font-style: italic;
  height: 60px;
  padding: 0 40px;
  text-transform: uppercase;
}

.App-homeLink {
  color: var(--accent-text);
  font-weight: 600;
  text-decoration: none;
}
